/* Define Global Css*/
body {
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
    color: #000000; 
    line-height: 1.5;
    margin: 0; 
   }
   
   /* Define Default Global Font Sizes */
   
   h1 {
       font-size: 40px;
   }
   
   h2 {
       font-size: 32px;
   }
   
   h3 {
       font-size: 24px;
   }
   
   h4 {
       font-size: 18px;
   }
   
   h5 {
       font-size: 16px;
   }
   
   p {
       font-size: 16px;
       font-weight: 400;
   }
   
   a {
       font-size: 16px;
       font-weight: 400;
       color: #000000;
       text-decoration: none;
   }
   
   a:hover {
       text-decoration: underline;
   }
   
   /*Define Global Helper Styles*/
   
   .center {
       text-align: center;
   }
   
   .margin-bottom_five {
       margin-bottom: 5px;
   }
   
   .link {
       text-decoration: underline;
   }
   
   .link:hover {
       text-decoration: none;
   }
   
   .margin-top_zero {
       margin-top: 0;
   }
   
   .hero-container_sub-copy {
       font-weight: 400;
   }
   
   /*Define Navigation Styles*/
   
   nav {
       background-color: #ffffff;
       display: flex;
       flex-direction: row wrap;
       justify-content: flex-end;
       padding-right: 20px;
       position: sticky;
       top: 0;
   }
   
   .nav-link {
       display: flex;
       padding: 20px;
   }
   
   .nav-mobile {
     display: none;
   }
   
   #menuToggle
   {
     display: block;
     position: relative;
     top: 10px;
     left: 10px;
     z-index: 1;
     -webkit-user-select: none;
     user-select: none;
     margin: 20px 20px 30px 20px;
   }
   
   #menuToggle a
   {
     text-decoration: none;
     color: #000000;
     transition: color 0.3s ease;
   }
   
   
   #menuToggle input
   {
     display: block;
     width: 40px;
     height: 32px;
     position: absolute;
     top: -7px;
     left: -5px;
     cursor: pointer;
     opacity: 0; /* hide this */
     z-index: 2; /* and place it over the hamburger */
     
     -webkit-touch-callout: none;
   }
   
   /*
    * Just a quick hamburger
    */
   #menuToggle span
   {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;
     background: #000000;
     border-radius: 3px;
     z-index: 1;
     transform-origin: 4px 0px;
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
   }
   
   #menuToggle span:first-child
   {
     transform-origin: 0% 0%;
   }
   
   #menuToggle span:nth-last-child(2)
   {
     transform-origin: 0% 100%;
   }
   
   /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   #menuToggle input:checked ~ span
   {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #000000;
   }
   
   /*
    * But let's hide the middle one.
    */
   #menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
   }
   
   /*
    * Ohyeah and the last one should go the other direction
    */
   #menuToggle input:checked ~ span:nth-last-child(2)
   {
     transform: rotate(-45deg) translate(0, -1px);
   }
   
   /*
    * Make this absolute positioned
    * at the top left of the screen
    */
   #menu
   {
     position: absolute;
     width: 300px;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-top: 125px;
     
     background: #ededed;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     /* to stop flickering of text in safari */
     
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
   
   #menu li
   {
     padding: 10px 0;
     font-size: 22px;
   }
   
   /*
    * And let's slide it in from the left
    */
   #menuToggle input:checked ~ ul
   {
     transform: none;
   }
   /* Define Hero Styles */
    
   .hero-container {
       background-color: #f2f2f2;
       display: flex;
       align-items: center;
       margin-bottom: 60px;
   }
   
   .hero-container_img {
      width: 40%;
   }
   
   .hero-container_img img {
       width: 100%;
   }
   
   .hero-container_copy {
       width: 60%;
       padding: 5%;
   }
   
   /* Define Card Styles */
   
   .card-container {
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
       margin: auto auto 60px auto;
       max-width: 1000px;
   }
   
   .card {
       background-color: #f2f2f2;
       width: 40%;
       margin: 20px;
   }
   
   .card a:hover {
       text-decoration: none;
   }
   
   .card-copy {
       padding: 0 20px 20px 20px;
   }
   
   footer {
       background-color: #f2f2f2;
       text-align: center;
       padding: 40px;
   }
   
   .copyright {
       font-size: 10px;
       margin-top: 30px;
   }
   
   /*Define Media Queries Which Tell the Code How Resize*/
   
   @media screen and (max-width: 768px) {
     .nav-mobile {
       display: block;
     }
   
       h1 {
           font-size: 24px;
       }
   
       h2 {
           font-size: 18px;
       }
   
       .hero-container {
           display: flex;
           flex-direction: column;
       }
   
       .hero-container_img {
           min-width: 100%;
       }
   
       .hero-container_copy {
           min-width: 100%;
           margin: 20px;
           padding: 0;
           text-align: center;
       }
   
   }
   
   @media screen and (max-width: 1024px) {
       nav {
           display: none;
       }
       .nav-mobile {
       display: block;
       }
     
       p {
           font-size: 14px;
       }
   
       .hero-container_img {
           width: 50%;
       }
   
       .hero-container_copy {
           width: 50%;
       }
   
       .card {
               width: 100%;
           }
   
       .card img {
           width: 100%;
       }
   }
   